.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mac-video {
  width: 45vw;
  height: auto;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.55);
  backdrop-filter: blur(.5vw);
  pointer-events: none;
}

.formWrapper {
  width: 100%;
}

/* Sayfa acilis animasyonu */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* show/hide için animasyon sınıfı */
.fadeInScale {
  animation: fadeInScale 0.5s ease forwards;
}

/* Form kaybolma animasyonu */
@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.fadeOutScale {
  animation: fadeOutScale 0.5s ease forwards; /* 0.5s animasyon suresi */
}

.container {
  display: flex;
  flex-direction: column; /* İçerikleri dikey hizalayabilmek için */
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 80%;
  background-color: #202020e7;
  border-radius: 2vw;
  box-shadow: 0 4vw 10vw rgba(0, 0, 0, 1);
  z-index: 1;
  animation: fadeInScale 1s ease-in-out;
  overflow-y: auto; /* İçerik çok uzarsa dikey scroll çıksın */
  padding: 1rem;   /* İçerikle kenarlar arasında boşluk */
  box-sizing: border-box;
}

.form-group {
  margin: 1.5vw;
  display: flex;            
  flex-direction: column;
  align-items: center;
}


.label {
  color: #c4c3c3; /* Koyu gri metin */
  font-size: 1.2rem; /* Yazı boyutu */
  text-align: center; /* Metni ortala */
  font-family: Arial, sans-serif; /* Yazı tipi */
  margin-right: 1vw;
  margin-bottom: 1vw;
  
}

.playPauseButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: background 0.3s ease;
  z-index: 10;
}

.playPauseButton:hover {
  background: rgba(129, 129, 129, 0.8);
}

.videoBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 3s ease; /* 1 saniyelik gecis */
}

/* Opakligi indirerek karartma */
.dimVideo {
  opacity: 0;
}

.detailsWrapper {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 85%;
  margin: auto;
}

.dropdown {
  border-radius: 0.8vw;
  padding: 1%; 
  background-color: rgb(194, 194, 194);
}

.continue-button {
  border-radius: 0.8vw;
  background-color: rgb(194, 194, 194);
  color: rgb(56, 56, 56);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
  left: 47%;
  top: 10%;
}

.continue-button:hover {
  background-color: #e2e2e2; 
}

.continue-button-details {
  border-radius: 0.8vw;
  background-color: rgb(194, 194, 194);
  color: rgb(56, 56, 56);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
  left: 47%;
  top: -5%;
}

.continue-button-spiker {
  border-radius: 0.8vw;
  background-color: rgb(194, 194, 194);
  color: rgb(56, 56, 56);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
  left: 49%;
  top: 85%;
}

.back-button {
  border-radius: 0.8vw;
  background-color: rgb(194, 194, 194);
  color: rgb(56, 56, 56);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.2s ease;
  position: absolute;
  left: 12%;
  top: 76%;
}

.back-button:hover {
  background-color: #e2e2e2; 
}

.back-button-details {
  border-radius: 0.8vw;
  background-color: rgb(194, 194, 194);
  color: rgb(56, 56, 56);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.2s ease;
  position: relative;
  right: 47%;
  top: 86%;
}

.back-button-spiker {
  border-radius: 0.8vw;
  background-color: rgb(194, 194, 194);
  color: rgb(56, 56, 56);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.2s ease;
  position: relative;
  right: 49%;
  top: 85%;
}

.play-video-button {
  border-radius: 0.8vw;
  background-color: rgb(194, 194, 194);
  color: rgb(56, 56, 56);
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 5%;
  left: 47%;
}

.play-video-button:hover {
  background-color: #e2e2e2;
}

.match-name-playing {
  position: relative;
  top: 50%;
}

.videoContainer {
  position: relative;
  display: inline-block;  
}

.match-name-playing {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;            /* videonun üstünde görünmesi için */
  color: white;         
  background: rgba(182, 182, 182, 0.267);
  padding: 0.5vw 0.5vw;
  border-radius: 5vw;
}